// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 40px;
$body-font-family: 'Roboto',
sans-serif !default;
$navbar-height: 56px;
$navbar-card-top: 61px;

//color pack
$colorPrimary: '#1A5CFF';
$colorSuccess: '#47C93A';
$colorDanger: '#FE4657';
$colorWarning: '#FFBA00';
$colorDark: '#1F1F1F';
$colorRed: '#FE4657';

$navigation-drawer-border-width: 0px;

$btn-text-transform: capitalize;

$current-chat-color: #1F91EB;

// border radius
$btn-text-transform: none !default;
$btn-letter-spacing: 0 !default;
